<h1>Search for stocks</h1>

<h2>Stock results</h2>

<% if @result.name != "N/A" %>
  <ul>
    <li>Name: <%= @result.name %></li>
    <li>Previous Close: <%= number_to_currency(@result.previous_close) %></li>
    <li>Symbol: <%= @stock_symbol %></li>
  </ul>
<% else %>
  "No stock found"
<% end %>

<!-- Add form for user to input number of shares to buy here.
Will use @result for the rest of the stock info -->


<%= render "search_bar" %>
