<h1><%= current_user.email %></h1>

<ul class="list-unstyled">
  <th>
    <h2>Portfolios</h2>
  </th>
  <% current_user.portfolios.each do |portfolio| %>
    <li style="margin-left:15px"><%= link_to portfolio.name, portfolio_path(id: portfolio.id) %></li>
  <% end %>
</ul>
</br>
<%= link_to "Create new portfolio", new_portfolio_path %>
