<h1>Update Indexfund</h1>

<%= render 'form' %>

<div class="btn-group">
  <%= link_to 'Show', @indexfund, class:'btn btn-default' %>
  <%= link_to 'Back', indexfunds_path, class:'btn btn-default' %>
</div>
