<p id="notice"><%= notice %></p>

<h1>Listing Indexfunds</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Fund Name</th>
        <th colspan="3">Value</th>
      </tr>
    </thead>

    <tbody>
      <%= render partial: 'indexfund', collection: @indexfunds, as: :indexfund %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Indexfund', new_indexfund_path, class:"btn btn-primary" %>
