<div class="table-responsive form-group">
  <table class="table">
    <thead>
      <tr>
        <th>Creator</th>
        <th colspan="4"></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'addportfolio', collection: @portfolios, as: :port %>
    </tbody>
  </table>
</div>
