<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Team Portfolio Tracker</h1>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-6">
    <h4>Sign into your team <%= link_to "here", new_user_session_path %>.</h4>
    <h4>or</h4>
    <h4>Sign up for your team <%= link_to "here", new_user_registration_path %></h4>
  </div>
  <div class="col-md-6">
    <h4>Sign into your team <%= link_to "here", new_admin_session_path %>.</h4>
    <h4>or</h4>
    <h4>Sign up for your team <%= link_to "here", new_admin_registration_path %></h4>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-12">
    <p>Enter a Description here.</p>
  </div>
</div>
