<ul class="nav navbar-nav">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      <%= current_admin.email.capitalize %>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to "Your Index Funds", authenticated_root_path %></li>
      <li><%= link_to "All Index Funds", indexfunds_path %></li>

      <li role="separator" class="divider"></li>
      <li><%= link_to "Sign Out", destroy_admin_session_path, method: :delete %></li>
    </ul>
  </li>
</ul>
