<div class="navbar navbar-default navbar-fixed-bottom">
  <div style="padding-top:10px;padding-left:10px;">
    Created by <%= link_to "Jeffrey Penkar", "http://jspenkar.com"%> & <%= link_to "Zachary Okuhara", "https://github.com/zokuhara" %>.
  </div>
</div>
